.menu-bar {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.menu-item {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
}
.menu-item .label {
    position: absolute;
    background: black;
    color: white;
    border-radius: 4px;
    padding: 0 0.5em;
    top: -22px;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
    line-height: 20px;
}
.menu-item .icon {
    overflow: hidden;
    border-radius: 6px;
    border: 2px solid transparent;
}
.menu-item:hover .icon {
    border-color: black;
}
.menu-item img {
    max-widtH: 100%;
    vertical-align: bottom;
}
