* { box-sizing: border-box; }
html, body {
    margin: 0;
    padding: 0;
}
body { display: flex; }
.thing-preview {
    position: relative;
    border-bottom: '1px solid black';
    display: flex;
}
.thing-preview canvas {
    margin: 8px;
    border: 1px solid black;
    cursor: pointer;
}
.thing-preview canvas:hover {
    border-color: red;
}
.thing-icon {
    cursor: pointer;
}
.tour {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.tour-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    opacity: 1;
    transition: opacity 1s ease-in;
}
.tour-start-faded {
    opacity: 0;
}
.tour-start button {
    cursor: pointer;
}
.tour-messages {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.tour-messages p {
    display: inline-block;
}

.tour-messages small {
    color: #555;
    margin-left: 8px;
}
